# Dependencies
node_modules
.pnp
.pnp.js

# Testing & Coverage
coverage

# Production Build
dist
dist-ssr
*.local

# Environment variables
.env
.env.local
.env.production

# IDE & OS
.DS_Store
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.tsbuildinfo
